<% layout("/layouts/boilerplate") %>
<body>   
    <div class="row">
        <div class="col-7 offset-2">
            <h2>Create a New Listing</h2>
            <form class="needs-validation"  method="POST" action="/listings" enctype="multipart/form-data" novalidate >
                <div class="mb-3" >
                    <label for="title" class="form-label" >Enter Title:</label>
                    <input type="text"
                        name="listing[title]"
                        id="title" 
                        placeholder="Add a catchy title"
                        class="form-control"
                        required>
                    <div class="valid-feedback">
                        Title looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid title!
                    </div>
                </div>

                <div class="mb-3">
                    <label for="des" class="form-label" >Description:</label>
                    <textarea name="listing[description]"
                        id="des" 
                        class="form-control"
                        required>
                    </textarea>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please write some details!
                    </div>
                </div>
<!-- 
                <div class="mb-3">
                    <label for="imgUrl" class="form-label">Image Link</label>
                    <input type="text"
                        name="listing[image]"
                        id="imgUrl" 
                        placeholder="Enter image URL/link"
                        class="form-control">
                    
                </div> -->

                <div class="mb-3">
                    <label for="imgUrl" class="form-label">Upload Image</label>
                    <input type="file"
                        name="listing[image]"
                        id="imgUrl" 
                        placeholder="Enter image URL/link"
                        class="form-control" required>
                        
                </div>

                <div class="row">
                    <div class="mb-3 col-md-4" >
                        <label for="price" class="form-label">Price:&#8377;</label>
                        <input type="text" 
                            name="listing[price]" 
                            id="price" 
                            placeholder="eg: 1300"
                            class="form-control"
                            required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please provide a valid price!
                        </div>
                    </div>

                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country:</label>
                        <input type="text" 
                           name="listing[country]" 
                           id="country" 
                           placeholder="eg: India"
                           class="form-control"
                           required>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Please enter country name!
                        </div>
                    </div>
                </div>

                <div class="mb-3">
                    <label for="location" class="form-label">Location:</label>
                    <input type="text" 
                       name="listing[location]" 
                       id="location" 
                       placeholder="eg: Jaipur, Rajasthan"
                       class="form-control"
                       required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please enter the location!
                    </div>
                </div>
                
                <button class="btn btn-dark add_btn mt-3" >Add</button>
                <br><br>
            </form>
        </div>
    </div>   
</body>
