<% layout("layouts/boilerplate") %>

<body class="home_body">
    <h1 class="home_heading"><span>Wanderlust</span></h1>
    <h2 class="home_content">Your Gateway to Endless Adventure</h2>
    <p class="home_slogan">Not sure where to go ? Perfect</p>

    <form action="/listings" method="get">
        <button class="btn btn-outline-dark offset-5 home_btn">Explore more!</button>
    </form>
</body>
