<% layout("layouts/boilerplate") %>
<body>
    <div class="row">
        <h2 class="col-7 offset-2">SignUp on WanderLust</h2>
        <br>
        <div class="col-7 offset-2">
            <form class="needs-validation" action="/signup" method="POST" novalidate>
                <div class="mb-3" >
                    <label for="username" class="form-label" >Username:</label>
                    <input type="text"
                        name="username"
                        id="username" 
                        placeholder="Enter your username:"
                        class="form-control"
                        required>
                    <div class="valid-feedback">
                        Username looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid Username!
                    </div>
                </div>

                <div class="mb-3" >
                    <label for="email" class="form-label" >Email:</label>
                    <input type="email"
                        name="email"
                        id="email" 
                        placeholder="Enter your Email id:"
                        class="form-control"
                        required>
                    <div class="valid-feedback">
                        Email looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid Email!
                    </div>
                </div>

                <div class="mb-3" >
                    <label for="password" class="form-label" >Password:</label>
                    <input type="password"
                        name="password"
                        id="password" 
                        placeholder="Enter your password:"
                        class="form-control"
                        required>
                    <div class="valid-feedback">
                        password looks good!
                    </div>
                    <div class="invalid-feedback">
                        Please provide a valid password!
                    </div>
                </div>

                <button class="btn btn-success mt-3" >SignUp</button>
            </form>
        </div>
    </div>    
</body>